.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid greenyellow;
  border-radius: .3rem;
  margin-top: -24px;
}

.hideme {
    visibility:hidden;
}

.showme {
    visibility:visible;
}